:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
    font-family: 'passion';
    src: url('/PassionOne-Black.ttf');
}

h1,h2 {
  font-family: 'passion';
}


.menu {
  background-color: #DEB887;
  padding: 1em;
}
.menu-header, .separator {
  padding-bottom: 1.5em;
  border-bottom: 4px solid #AD2E2D;
  margin-bottom: 1.5em;
}
.category-header, .menu-header {
  text-align: center;
}
.menu-header h1{
  font-size: 3.5em;
  text-transform: uppercase;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.item-price {
  float: right;
}


.subtitle{
  font-style: italic;
}

.root {
  background-image: url("/beans.jpg");
  background-size: cover;
  padding: 2em 4em;
  margin:0 auto;
  max-width: 700px;
}

body{
  background-color: #212121;
}
.category{
  font-size: 1.3em;
  line-height: 2em;
}

.footer{
  font-size: 1.3em;
  text-align: center;
  line-height: 2em;
}
.footer a{
  color: black;
}